{% extends 'partials/base.html' %}
{% block title %} Logout Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Password Reset Done Page</h3>
                <hr>
                <div class="alert alert-info">
                    <h4>We’ve sent you an email with a link to change your password, follow instructions for setting your password.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}